In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/latest_data.csv')

In [3]:
df['movie_title'] = df['movie_title'].str.lower()

In [8]:
df[df['movie_title'].eq('top gun: maverick')]

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
6560,Joseph Kosinski,Tom Cruise,Miles Teller,Jennifer Connelly,Action Drama,top gun: maverick,Tom Cruise Miles Teller Jennifer Connelly Jose...

In [9]:
df.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [10]:
df.to_csv('data/latest_data.csv', index=False)